.modal_show {
  position: absolute;
  width: 50vw;
  height: 80vh;
  background-color: rgb(51 65 85);
  border-radius: 5px;
  user-select: text;
  border-bottom: 2px solid #00000067;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 6 !important;
}


.modal_close {
  padding: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;

}

p {
  margin: 0 !important;

}

.data_nota {
  background-color: transparent;
  border: none;
  color: #A3E635;
  padding: 5px 10px;
}

.sair {
  width: 30px;
  height: 30px;
  background-color: rgb(61, 61, 61);
  border: none;
  color: rgb(237, 234, 231);
  display: flex;
  align-items: center;
  justify-content: center;

}

.textarea {
  width: 95%;
  height: 86.3% !important;
  background-color: rgba(0, 0, 0, 0.107) !important;
  color: rgb(221, 220, 219);
  resize: none;
  border: none;
  outline: none;
  padding: 0 15px;
  overflow: hidden;
  margin: 3px 2px !important;
  border-radius: 5px;
  text-wrap: wrap;
  overflow-y: scroll;
  overflow-x: none;

}

.modal_excluir {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: lightcoral;
  height: 33px;
}

.modal_excluir>button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}

.modal_hidden {
  display: none;

}


@media screen and (max-width: 640px) {

  /* estilos */
  main {
    justify-content: center;
  }

  .modal_show {
    width: 90vw !important;
    /* height: 60vh !important;*/
  }

}